* {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  line-height: 1; }

.container {
  grid-area: container;
  margin: 0 10px;
  display: grid;
  height: 100%;
  width: 20%;
  float: left;
  grid-template-columns: 0.1px 5fr 0.1px;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas: ". name . " ". img . " ". name_health .";
  background-color: white;
  border: 1px solid white; }
  .container .name {
    grid-area: name; }
  .container .img {
    grid-area: img;
    height: 80%;
    width: 100%;
    justify-self: center;
    align-self: center; }
  .container .name_health {
    grid-area: name_health;
    justify-self: center;
    align-self: center; }

.center {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 80%;
  border: 1px solid white; }

body {
  display: grid;
  background: url(../Img/star_Background.gif);
  background-repeat: no-repeat;
  padding: 0.5%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.1px 1fr 1fr 0.1px;
  grid-template-rows: 1fr;
  grid-template-areas: ". left_Section right_Section.";
  grid-column-gap: 0.5%;
  height: 100vh;
  width: 100vw; }
  body .left_Section {
    grid-area: left_Section;
    display: grid;
    border: 1px solid white;
    grid-template-columns: "1fr";
    grid-template-rows: "3fr 3fr 1fr 3fr 1fr";
    grid-template-areas: "player_Staging_Area" "enemy_Staging_Area" "fight" "defender_Area" "comment_Area"; }
    body .left_Section .player_Staging_Area {
      grid-area: player_Staging_Area;
      border: 1px solid white;
      display: grid; }
    body .left_Section .enemy_Staging_Area {
      grid-area: enemy_Staging_Area;
      border: 1px solid white; }
    body .left_Section .fight {
      grid-area: fight;
      display: grid;
      grid-template-columns: "1fr";
      grid-template-rows: "1fr 1fr";
      grid-template-areas: "fight_Title" "button_Fight";
      border: 1px solid white; }
      body .left_Section .fight .fight_Title {
        grid-area: fight_Title;
        justify-self: center;
        align-self: center; }
      body .left_Section .fight .button_Fight {
        grid-area: button_Fight;
        justify-self: center;
        align-self: center;
        width: 20%;
        height: auto; }
    body .left_Section .defender_Area {
      grid-area: defender_Area;
      border: 1px solid white; }
    body .left_Section .comment_Area {
      display: grid;
      grid-area: comment_Area;
      grid-template-columns: "1fr";
      grid-template-rows: "1fr 1fr 1fr";
      grid-template-areas: "player_Text" "enemy_Text" "button_Reset";
      border: 1px solid white; }
      body .left_Section .comment_Area .player_Text {
        grid-area: player_Text;
        justify-self: center;
        align-self: center; }
      body .left_Section .comment_Area .enemy_Text {
        grid-area: enemy_Text;
        justify-self: center;
        align-self: center; }
      body .left_Section .comment_Area .button_Reset {
        grid-area: button_Reset;
        justify-self: center;
        align-self: center;
        width: 20%;
        height: auto;
        display: none;
        visibility: hidden; }
  body .right_Section {
    grid-area: right_Section;
    border: 1px solid white; }
